<!DOCTYPE html>
<html ng-app="shApp" ng-controller="mainController">

	<head>
		<title>Consuming the RESTful API</title>
		
		<!-- BOOTSTRAP -->
		<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->
		<link rel="stylesheet" type="text/css" href="http://bootswatch.com/slate/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/custom.css">
		<!-- JS files -->
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	
	</head>
	
	<body>
		<!-- <input type="text/plain" ng-model="inputTest">
		<p>Hello {{inputTest}}</p> -->

		<h1 class="mainTitle">RESTful API consumer App!</h1>

		<form class="well" ng-submit="submit()">

			<label>Method: </label>
			<select class="form-control" ng-change="showMethod()" ng-model="method" ng-options="method.method as method.name for method in methods" ng-change="showOnlyMethod()"></select>

			<div class="get-method {{showGet}}">
				<label>ID: </label>
				<input type="text/plain" ng-model="getID" class="form-control" placeholder="Leave empty to get all objects from DB">    <!--if blank get all-->
			</div>

			<div class="post-method {{showPost}}">
				<label>Name: </label>
				<input type="text/plain" class="form-control" ng-model="name" placeholder="Superhero's name">
				<label>City: </label>
				<input type="text/plain" class="form-control" ng-model="city" placeholder="Superhero's city">
			</div>

			<div class="put-method {{showPut}}">
				<label>ID: </label>
				<input type="text/plain" class="form-control" placeholder="Superhero's ID">
				<label>Name: </label>
				<input type="text/plain" class="form-control" ng-model="name" placeholder="Superhero's name">
				<label>City: </label>
				<input type="text/plain" class="form-control" ng-model="city" placeholder="Superhero's city">
			</div>

			<div class="delete-method {{showDelete}}">
				<label>ID: </label>
				<input type="text/plain" class="form-control" placeholder="Superhero's ID">
			</div>

			<br>
			<input type="submit" value="Submit" class="btn btn-info form-control">

		</form>
		<p>ng-show list</p>
		get <input type="text/plain" ng-model="showGet">
		post <input type="text/plain" ng-model="showPost">
		put <input type="text/plain" ng-model="showPut">
		delete <input type="text/plain" ng-model="showDelete">

		<hr/>
		
		<!-- PRINTING RESULTS ON SCREEN -->
		<br>
		<div class="well post-info results">
			<h2>Results: </h2>
			<hr/>
			<h4 class="alert alert-{{type}}">{{response}}</h4>
			<hr/>
			<div ng-repeat="oneElement in data">
				<p>name: '{{oneElement.name}}'</p>
				<p>city: '{{oneElement.city}}'</p>
				<p>id: '{{oneElement._id}}'</p>
				<hr/>
			</div>
		</div>

	</body>

</html>